# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# vercel
.vercel
mockData/1.json
mockData/1534043161Twitter-Bird-Png.png
mockData/background.png
mockData/backgroundSketch.png
mockData/download (1).png
mockData/download (2).png
mockData/download.png
mockData/navpane.png
mockData/Treeview_1.HEIC
mockData/TestImages/1.png
mockData/TestImages/cactus_head.png
mockData/TestImages/example_gif.gif
mockData/TestImages/oak_head.png
mockData/TestImages/palm_head.png
mockData/TestImages/Pine_Head.png
mockData/TestImages/Willow_head.png
public/images/1.png
public/images/cactus_head.png
public/images/example_gif.gif
public/images/oak_head.png
public/images/palm_head.png
public/images/Pine_Head.png
public/images/Willow_head.png
